@import "../../style.scss";


.dashCards {
@include themify($themes) {
  
    font-family: 'Poppins', sans-serif;
    background-color: themed("bg");
    color: themed("textColor");
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0;
  
    @include mobile {
      flex-direction: column;
      height: auto;
    }
  
    @include tablet {
      height: auto;
      gap: 20px;
    }
  
    .dashCard {
      flex: 1;
      border-radius: 20px;
      box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
      overflow: hidden;
      position: relative;
      color: themed("textColor");
      width: 100%;
      border-radius: 10px !important;
  
      @include mobile {
        width: 100%;
        height: auto;
        border-radius: 0;
        margin-bottom: 10px;
      }
  
      @include tablet {
       height: 100px;
    
       width: 89%;
       margin: auto;
      }
  
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
  
      span {
        position: absolute;
        bottom: 10px;
        left: 10px;
        font-weight: 500;
      }
  
      button {
        position: absolute;
        bottom: 40px;
        left: 10px;
        color: white;
        background-color: #5271ff;
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        cursor: pointer;
        font-size: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
  
        @include mobile {
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
  }
}



// dashRight
.dashmain {

  @include themify($themes) {

    // border-radius: 20px;
    background-color: themed("bg");
    color: themed("textColor");
    margin-bottom: 20px;
    padding: 10px;
    display: flex;
    gap: 10px;


    margin: 0;
    justify-content: space-between;


    .dashboardLeft {
      // width: 66.6%;
      padding: 20px;
      border-radius: 20px;
      -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
      -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
      box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
      overflow: hidden;
      position: relative;
      color: themed("textColor");

      .dashleft_buttons {
        display: flex;
        flex: 1;
        padding: 2px;
        justify-content: space-between;
        gap: 10px;
        margin-bottom: 18px;

        .button {
          flex: 1;
          height: 40px;
          border-radius: 10px;
          box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
          // background: red;


        }
      }

      .dash_liveEarings {
        // display: flex;
        justify-content: space-between;
        flex: 1;
        height: 89%;
        padding: 2px;
        border-radius: 10px;



        .dash_liveEaringsleft {
          // width: 49%;
          -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
          -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
          box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
          border-radius: 10px;
          border: 3px solid #dc4653;


          .referheading{
           color: themed("textColor");
           background: #dc4653 ;
          }
          .referpagebtn {
            border: 2px solid #ff4e5e;

          }

          .referbutton_active {
            background-image: linear-gradient(rgb(96, 6, 6), #ff4555);
            color: themed("textColor");
            border-radius: 10px;
            font-size: 14px;

            span {
              font-size: 24px;
            }
          }

          .referbutton_activeN {
            border: 2px solid #ff4555;
            background: transparent;
            border-radius: 10px;
            color: #fff;

            span {
              font-size: 24px;
            }
          }

          .dash_liveEaringsleft_img {
            width: 100%;

            margin-top: -10px;
            filter: drop-shadow(10px 10px 20px textColor);
          }

        }

        .dash_liveEaringsRight {
          // width: 49%;
          -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
          -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
          box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
          border-radius: 10px;
        }

      }
    }

    .dashboardRight {
      // width: 33%;
      // display: flex;
      border-radius: 20px;
      -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
      -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
      box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
      overflow: hidden;
      position: relative;
      color: themed("textColor");

      .mainPlans {

        span {
          font-weight: 600;
          margin-left: 20px;
          margin-bottom: 10px;
        }

        .myCurrentRecharge {
          height: 80px;
          // width: 100%;

          -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
          -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
          box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
          border-radius: 10px;
          padding: 39px;
          width: 78%;
          margin: auto;
          margin-bottom: 15px;
        }

      }


    }

    .dashRight_buttons {
      display: flex;
      flex: 1;
      padding: 20px;
      justify-content: space-between;
      gap: 10px;
      // font-weight: 700;

      .button {
        flex: 1;
        height: 40px;
        border-radius: 10px;

        // background: red;
      }

    }
  }
}



.global_btn,
.global_btnBB {
  @include themify($themes) {
    color: themed("textColor");
    font-size: 20px;
    font-weight: 700;
    text-align: center;
  }

}